@charset "iso-8859-1";

body {
    margin: 0 0 0 0;
    font-family:arial,lucida sans unicode, verdana, sans, helvetica, sans-serif;
    font-size:14px;
    min-width: 1100px;
}

div.body{
	background: #AFC7C7;
    min-width: 1100px;
    padding: 10px;
    min-height:40em;
}

div.shim {
       float: right;
       height: 40em;
       display: none;
}

/* Basic layout properties */
div.menu {
    font-family: arial, lucida sans unicode, verdana, sans, helvetica, sans-serif;
    font-size:80%;
    left:0.5em;
    top:6em;
    width: 12em;
    position: absolute;
    float:left;
}
[class="menu"]{
        position: fixed !important;
}

div.main{
    text-align:center;
    background:#95B9C7;
    padding-bottom:1em;
    border:#E0E9E9 4px solid;
    min-width:850px;
    margin: auto;

}

div.Static_Controls{
    	font-family: arial, lucida sans unicode, verdana, sans, helvetica, sans-serif;
	text-align:left;
	top:0px;
	padding: 5px 10px 5px 10px;
}

div.clickmap{
	float:right;
	border-bottom: 3px #ddd solid;
	border-right: 3px #ddd solid;
	padding:0;
	right:1em;
	margin: 0 0 3ex 3ex;
}


div.top div.box {
    position: relative;
    background: transparent;
    color: #2d880d;
    border: none;
    font-size: 250%;
    min-width: 1100px;
    margin: auto;
}

div.top div.box table {
    width: 100%;
}

div.footer{
    background:transparent url("../images/pulogo.gif") no-repeat top left;
	margin: 0px 0 5px 0;
	padding: 0px 0 5px 80px;
	text-align:left;
	font-size:90%;
}

div.code{
   background:#eee;
   margin: 3ex;
   padding: 1ex;
   font-size: 90%;
   text-align:justify;
}

div.footer a{
    text-decoration:none;
    color: #2f2f2f;
    font-weight: bold;
}

div.hbar{
    background: #186194;/*#41627E;*/
    height: 18px;
    min-width: 1100px;
}

div.main a:hover {
	text-decoration: none;
	background:#cfcfcf; 
        color:#ff0000;
}

img.inline {
	position:relative;
        float:left;
        padding:0px;
	
}

/* basic element*/
p {
	margin-bottom: 1em;
	margin-top: 0em;
	line-height: 1.2em;
    text-align: justify
}

.hidden {   
    display:none;
}

.hilight {
	background:#ddd;
	color:#ff0000;
	font-weight:bold;
}
 
/* main */
    div.main a {
        text-decoration: none;
    }
	
abbr, acronym {
        border-width: 0 0 2px 0;
        border-color: #a01e08;
        border-style: dashed;
        cursor: help;
}

#Daily_Images {
	text-align:center;
}
#nav {
	text-align: center;
	background: #2783C4;
	border-spacing: 0px;
}

#nav td {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #2783C4;
	padding: 0px 20px 0px 20px;
	position: relative;
	border-spacing: 0px;
	height: 18px;
	}

#nav td.link {
	background: #186194;
}

#nav td.link:hover {
	background: #51A5E0;
	cursor: pointer;
}

input[type=text]{
        margin-bottom: 0px;
}

#sidebar div{
  font: 15px sans-serif;
  left:0;
  background:#fff;
  /*border-radius:5px;*/
 /* overflow:hidden;*/
}

#sidebar_header{
  position: absolute;
  top:0px;
  width:30px;
  right:270px;
}

#sidebar div div{
 /* margin-left: 10px;*/
  -webkit-transition:height .4s ease-out, padding .4s ease-out;
  -moz-transition:height .4s ease-out, padding .4s ease-out;
  -o-transition:height .4s ease-out, padding .4s ease-out;
  -ms-transition:height .4s ease-out, padding .4s ease-out;
  transition:height .4s ease-out, padding .4s ease-out;
}

#PLflag{
  width: 200px;
}

#Region_Placement {
  position: absolute;
  top: 70px;
  left: 0;
  margin: auto;
  width: 100px;
  background-color: transparent;
  z-index: 1;
}

#Language_Selection {
  position: absolute;
  top: 92px;
  left: 0px;
  margin: auto;
  width: 100px;
  background-color: transparent;
  z-index: 1;
}

#LanguageSelect{
  position: absolute;
  left: 100px;
  top: 4px;
  z-index: 1;
}

div.inline{
  /*position:relative;*/
  /*float:center;*/
  /*padding:10px;*/
  /*text-align:center;*/
  margin:auto;
}

div.image_superposition{
  position:relative;
  top:-730px;
  height:40px;
  background-color:transparent;
}

h3.text_superposition{
  padding-top:10px;
  padding-bottom:7px;
  font-size:1.5em;
  font-weight:normal;
  text-align:center;
}

img.inline{
  /*position:relative;
  float:left;*/
  padding:10px;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 73px;
  /*margin: 0;
  margin-right: 0px;
  width: 300px;*/
  /*background-color: white;*/
  z-index: 1;
}
#sidebar_call {
  position: absolute;
  top: 73px;
  right:270px;
  background-color: transparent;
  z-index: 1;
}
#sidebar img {
  position: absolute;
  left: 5px;
  }
#header {
  position: absolute;
  top: 0;
  margin: auto;
  right: 300px;
  left: 300px;
  height: 50px;
  background-color: white;
  z-index: 1;
}
img {
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-crisp-edges;
    max-width: none;
    
    }
#blanket {
  background-color:#111;
  opacity: 0.65;
  filter:alpha(opacity=65);
  position:absolute;
  z-index: 8000;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
}

#ajax_request_load {
  background-color:none;
  position:absolute;
  z-index: 8000;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
}

#ajax_request_load>img {
  position:absolute;
  z-index:8100;
  left:40%;
  top:40%;
}

#popUpDiv {
  position:absolute;
  /*background-color:#eeeeee;*/
  margin:auto;
  left:10px;
  right: 330px;
  bottom:10px;
  top:10px;
  z-index: 8900;
}

#popup_container{
 padding-left: 10px;
 padding-right: 10px;
 /*padding-top: 50px;*/
 height: 600px;
}

#PopUpControl {
top: 15px;
position:relative;
left:900px;
width: 200px;
height:20px;
text-align: center;
}

#PopUpControl:hover {
cursor: pointer;
background:#AFC7C7
}

.ImageBorder
{
border-width: 1px;
border-color: Black;
}
#routed_image{
position:relative;
bottom: -30px;
left: 20px;

}
#BasinForms{
position:relative;
left:30px;
top: -100px;
}
#timestepform{
position:relative;
top:20px;
}
#gaugevariableform{
position:relative;
top:60px;
}
#GaugeTimeInterval{
position:relative;
top:40px;
}
#CatchmentInfo{
position:relative;
left:20px;
top:20px;
}
#Colorbar {
  position: absolute;
  bottom: 0px; 
  left: 0px;
  right: 310px;
  min-width: 900px;
  background-color: transparent;
  z-index: 1;
}
#Colorbar img {
  display: block;
  margin:0 auto;
  opacity:1;
}
#TimeStamp {
  position: absolute;
  bottom: 35px; 
  color:#000000;
  left: 0px;
  right: 310px;
  min-width: 900px;
  width: auto;
  margin: auto;*/
  background-color: transparent;
  z-index: 1;
}
#TimeStamp h2 {
  /*margin: auto;*/
  text-align: center;
  /*width: 200px;*/
  padding-bottom: 5px;
}

h2.PlotTitle {
  position: relative;
  background-color: white;
  top: -440px;
  width: 210px;
  font-weight: normal;
  padding-left:240px;
}

h2.SurplusDischarge{
  position:relative;
  background-color: white;
  font-weight: normal;
  font-size: 1.25em;
  width:130px;
  top: -205px;
  left: -53px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);   
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

div.GaugeImage{
  height:429px;
}

#DBandMC { 
  height:100%;
  /*min-height: 1500px;*/
}
#sidebar img.question_mark {
  margin:4.3px;
  border-bottom:1px;
  font-size:1em;
  position: absolute;
  left: 80%;
  }
#Info_Box {
  /*position: relative;
  top: 520px;*/
  right: 0;
  margin: auto;
  width: 297px;
  z-index: 1;
  border-style:solid;
  border-width:1px;
  }

#Info_Box p {
  align: justify;
  margin: 5px;
  }

#map_canvas_1 {
  height:100%;
 /*min-height: 400px;*/
 }

#Logo {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  min-width: 900px;
  background-color: transparent;
  z-index: 1;
}
#Logo img {
  display: block;
  margin-left:60px;
  opacity:1;
}
#nav td.flag {
        background: #186194;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:2px;
	padding-right:2px;
	height:14px;
}

#nav td.flag:hover {
        cursor: pointer;
        background: #51A5E0;
}

#nav td.version {
	background: #186194;
	position: absolute;
	right: 0px;
}

input[type="text"]:disabled
{
  /*background-color: #ccc;*/
  color: #EBEBE4;
}

label.dataset
{
  display:block;
}

div.sidebar-block
{
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);
}
div.data-form-block
{
  -webkit-box-shadow:none;
  padding-top: 0px;
  padding-bottom: 5px;
}
#pageTitle
{
  font-family: 'Raleway', 'sans-serif';
  font-weight: 200;
  color: #333;
  vertical-align: top;
  line-height: 150%;
  font-variant: small-caps;
}

.scrollDiv {
    overflow-y: scroll;
    display: inline-block;
    float: none; /* Very important */
}
ul.data-extraction, ul.ts-selection, ul.monitor-or-forecast
{
  font-size: 12px;
/*  text-transform: uppercase;*/
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 0px;
}
ul.data-extraction>li>a, ul.ts-selection>li>a, ul.monitor-or-forecast>li>a
{
  margin-right: 0px;
  line-height: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

div#sidebar1 {
  font-size: 12px;
  padding-bottom: 5px;
  z-index: 9000;
  padding-top:5px;
}

.nav li+.nav-header {
  margin-top: 3px;
  background-color: rgb(205,205,205);
}

#TimeInterval {
  background-color: rgb(205,205,205);
}

.nav-list .divider {
  margin: 3px 1px;
}

form#AnimationForm {
  margin-bottom: 10px;
  font-size: 12px;
}

ul.datalist>li>a, ul.spatial-datalist>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
}
ul.datalist>li>ul.dropdown-menu>li>a, ul.spatial-datalist>li>ul.dropdown-menu>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
}

.nav-header.expandable:hover {
  cursor:pointer;
  color: #555;
}
.nav-header.expandable>b.caret.centeredcaret {
  margin-top:5px;
  color:#555;
}

#feedbackBtn>a:hover {
  cursor:pointer;
}