@charset "iso-8859-1";

body {
    margin: 0 0 0 0;
    font-family:arial,lucida sans unicode, verdana, sans, helvetica, sans-serif;
    font-size:14px;
    min-width: 1100px;
}

div.body{
	background: #AFC7C7;
    min-width: 1100px;
    padding: 10px;
    min-height:40em;
}

div.shim {
       float: right;
       height: 40em;
       display: none;
}

/* Basic layout properties */
div.menu {
    font-family: arial, lucida sans unicode, verdana, sans, helvetica, sans-serif;
    font-size:80%;
    left:0.5em;
    top:6em;
    width: 12em;
    position: absolute;
    float:left;
}
[class="menu"]{
        position: fixed !important;
}

div.main{
    text-align:center;
    background:#95B9C7;
    padding-bottom:1em;
    border:#E0E9E9 4px solid;
    min-width:850px;
    margin: auto;

}

div.Static_Controls{
    	font-family: arial, lucida sans unicode, verdana, sans, helvetica, sans-serif;
	text-align:left;
	background:#CFECEC;
	top:0px;
	font-size:120%;
	padding: 5px 10px 5px 10px;
}

div.clickmap{
	float:right;
	border-bottom: 3px #ddd solid;
	border-right: 3px #ddd solid;
	padding:0;
	right:1em;
	margin: 0 0 3ex 3ex;
}


div.top {
    height: 55px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: auto;
}

div.top div.box {
    position: relative;
    background: transparent;
    color: #2d880d;
    border: none;
    font-size: 250%;
    min-width: 1100px;
    margin: auto;
}

div.top div.box table {
    width: 100%;
}

div.footer{
    background:transparent url("../images/pulogo.gif") no-repeat top left;
	margin: 0px 0 5px 0;
	padding: 0px 0 5px 80px;
	text-align:left;
	font-size:90%;
}

div.code{
   background:#eee;
   margin: 3ex;
   padding: 1ex;
   font-size: 90%;
   text-align:justify;
}

div.footer a{
    text-decoration:none;
    color: #2f2f2f;
    font-weight: bold;
}

div.hbar{
    background: #186194;/*#41627E;*/
    height: 18px;
    min-width: 1100px;
}

div.main a:hover {
	text-decoration: none;
	background:#cfcfcf; 
        color:#ff0000;
}

img.inline {
	position:relative
        float:left;
        padding:0px;
	
}

/* basic element*/
blockquote{
    padding: 4px 10px 4px 10px;
}

h3 {
	font-weight: bold;
	font-size: 200%;
	margin-bottom: 10ex;
	text-align: center;
        background: transparent;
}

h4 {
	font-size:100%;
	margin: 0 0 0 0;
	margin-left: 3em;
	font-weight: normal;
}

h5 {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-size:200%;
	text-align: center;
	font-weight:bold;
	color:#000000;
}
p {
	margin-bottom: 1em;
	margin-top: 0em;
	line-height: 1.2em;
    text-align: justify
}

.hidden {   
    display:none;
}

.hilight {
	background:#ddd;
	color:#ff0000;
	font-weight:bold;
}

hr{
	background:#ddd;
	color:#ddd;
}
/* main */
    div.main a {
        text-decoration: none;
    }
	
abbr, acronym {
        border-width: 0 0 2px 0;
        border-color: #a01e08;
        border-style: dashed;
        cursor: help;
}

#Daily_Images {
	text-align:center;
}
#nav {
	text-align: center;
	background: #2783C4;
	border-spacing: 0px;
}

#nav td {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #2783C4;
	padding: 0px 20px 0px 20px;
	position: relative;
	border-spacing: 0px;
	height: 18px;
	}

#nav td.link {
	background: #186194;
}

#nav td.link:hover {
	background: #51A5E0;
	cursor: pointer;
}


