@charset "iso-8859-1";

body {
	margin: 1em;
	border: none;
	background: white;
}

div.menu {
	display: none;
}

div.top{
	display: none;
}

div.main {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
}

