<?xml version="1.0" encoding="UTF-8" ?>
<document>

<dimensions>
  <res>0.25</res>
  <minlat>-34.875</minlat>
  <minlon>-18.875</minlon>
  <nlat>292</nlat>
  <nlon>296</nlon>
</dimensions>

<variables>

  <group name="Meteorology" divtitle="Forcing">
    <datatype name="prec" units="mm/day" title="Precipitation (mm/day)">
      <dataset name="TRMM" ts="DMY"></dataset>
      <dataset name="PGF" ts="DM"></dataset>
      <dataset name="etc" ts="DY"></dataset>
    </datatype>
    <datatype name="tmax" units="K" title="Maximum Temperature (C)">
      <dataset name="PGF" ts="D"></dataset>
    </datatype>
    <datatype name="tmin" units="K" title="Minimum Temperature (C)">
      <dataset name="PGF" ts="D"></dataset>
    </datatype>
    <datatype name="wind" units="m/s" title="Wind (m/s)">
      <dataset name="PGF" ts="M" ></dataset>
    </datatype>
    <infobox>1</infobox>
  </group>

  <group name="Hydrologic Variables" divtitle="Model">
    <datatype name="evap" units="mm/day" title="Evaporation (mm/day)">
      <dataset name="VIC_PGF" ts="Y" ></dataset>
    </datatype>
    <datatype name="Sm_1" units="???" title="Soil Moisture(%) - Layer 1">
      <dataset name="VIC_PGF" ts="DMY" ></dataset>
    </datatype>
    <datatype name="Sm_2" units="???" title="Soil Moisture(%) - Layer 2">
      <dataset name="VIC_PGF" dataset="???"  ts="DMY"></dataset>
    </datatype>
    <datatype name="runoff" units="???" title="Surface Runoff (mm/day)">
      <dataset name="VIC_PGF" ts="DMY" ></dataset>
    </datatype>
    <datatype name="baseflow" units="???" title="Baseflow (mm/day)">
      <dataset name="VIC_PGF" ts="DMY" ></dataset>
    </datatype>
    <datatype name="streamflow" units="???" title="Streamflow (mm/day)">
      <dataset name="VIC_PGF" ts="DMY" ></dataset>
    </datatype>

    <infobox>2</infobox>
  </group>

  <group name="Drought Products" divtitle="Drought">
    <datatype name="spi1" units="" title="SPI (1 month)">
      <dataset name="SPI" ts="DMY" ></dataset>
    </datatype>
    <datatype name="spi3" units="" title="SPI (3 month)">
      <dataset name="SPI" ts="DMY"></dataset>
    </datatype>
    <datatype name="spi6" units="" title="SPI (6 month)">
      <dataset name="SPI" ts="DMY"></dataset>
    </datatype>
    <datatype name="spi12" units="" title="SPI (12 month)">
      <dataset name="SPI" ts="DMY"></dataset>
    </datatype>

    <infobox>3</infobox>
  </group>

  <default tag="vcpct"></default>

</variables>

</document>
