<?xml version="1.0" encoding="UTF-8" ?>
<document>

<dimensions>
  <res>0.25</res>
  <minlat>-34.875</minlat>
  <minlon>-18.875</minlon>
  <nlat>292</nlat>
  <nlon>296</nlon>
</dimensions>

<variables>

  <group name="Meteorology" divtitle="Forcing">
    <variable name="prec" dataset="PGF" units="mm/day" ts="ALL" title="Precipitation (mm/day)"></variable>
    <variable name="tmax" dataset="PGF" units="K" ts="ALL" title="Maximum Temperature (C)"></variable>
    <variable name="tmin" dataset="PGF" units="K" ts="ALL" title="Minimum Temperature (C)"></variable>
    <variable name="wind" dataset="PGF" units="m/s" ts="ALL" title="Wind (m/s)"></variable>
    <infobox>1</infobox>
  </group>

  <group name="Hydrologic Variables" divtitle="Model">
    <variable name="evap" dataset="VIC_PGF" units="mm/day" ts="ALL" title="Evaporation (mm/day)"></variable>
    <variable name="Sm_1" dataset="???" units="???" ts="???" title="Soil Moisture(%) - Layer 1"></variable>
    <variable name="Sm_2" dataset="???" units="???" ts="???" title="Soil Moisture(%) - Layer 2"></variable>
    <variable name="runoff" dataset="???" units="???" ts="???" title="Surface Runoff (mm/day)"></variable>
    <infobox>2</infobox>
  </group>

  <group name="Drought Products" divtitle="Drought">
    <variable name="smqall" dataset="???" units="???" ts="???" title="Drought Index"></variable>
    <infobox>3</infobox>
  </group>

  <default id="smqall"></default>

</variables>

</document>